<main>
  <section>
    <div>
      <h3>Media Spotlight: </h3>
      <p># of Votes</p>
    </div>
  </section>

  <section>
    <h3>Top Movies</h3>
    <ul>
      <li>
        <h4>Name of the Movie</h4>
        <p># of Votes</p>
      </li>
    </ul>
  </section>

  <section>
    <h3>Top Books</h3>
    <ul>
      <li>
        <h4>Name of the Book</h4>
        <p># of Votes</p>
      </li>
    </ul>
  </section>

  <section>
    <h3>Top Albums</h3>
    <ul>
      <li>
        <h4>Name of the Album</h4>
        <p># of Votes</p>
      </li>
    </ul>
  </section>
</main>
