<section>
  <h2>Media Spotlight</h2>
  <%#= @works.first.title  %>
</section>

<h2>Top Works</h2>

<p>Top Books</p>
<ul>
  <% @books.each do |work| %>
    <li>
      <%= link_to work.title, work_path(work.id) %>
    </li>
  <% end %>
</ul>

<p>Top Albums</p>
<ul>
  <% @albums.each do |work| %>
    <li>
      <%= link_to work.title, work_path(work.id) %>
    </li>
  <% end %>
</ul>
<p>Top Movies</p>
<ul>
  <% @movies.each do |work| %>
    <li>
      <%= link_to work.title, work_path(work.id) %>
    </li>
  <% end %>
</ul>
