<h1>
  Media spotlight: <%= link_to Work.spotlight.title, work_path(Work.spotlight.id) %>
</h1>

<h2>
  Top Albums
</h2>
<ul>
  <% Work.top_ten("album").each do |album| %>
    <li>
      <%= link_to album.title %>
      <%= album.votes.count %>
    </li>

  <% end %>

</ul>
