<section class="row-spotlight">
  <div>
    <h3>
      <span>Media Spotlight:</span>
      <%# make this a link to the most upvoted work %>
      <%# TODO: WHY ARE ALL THE ATTRIBUTES FOR MY SEED DATA NIL??
      <%= @works.first.name %>
    </h3>
    <p>
      Number of votes here
    </p>
  </div>
</section>
<hr class="root-hr">
<section class="top-ten columns large-4 small-12">
  <h3>Top movies</h3>
  <ul>
    <li>
      <h4>
        Movie title as a link
        <small>by: creator</small>
      </h4>
      <p>
        number of upvotes
      </p>
    </li>
  </ul>
</section>
<section class="top-ten columns large-4 small-12">
  <h3>Top Books</h3>
  <ul>
    <li>
      <h4>
        Book title as a link
        <small>by: creator</small>
      </h4>
      <p>
        number of upvotes
      </p>
    </li>
  </ul>
</section>
<section class="top-ten columns large-4 small-12">
  <h3>Top Albums</h3>
  <ul>
    <li>
      <h4>
        Album title as a link
        <small>by: creator</small>
      </h4>
      <p>
        number of upvotes
      </p>
    </li>
  </ul>
</section>
