<h1>this is the main index page</h1>

<p>
  This page needs to include a media spotlight section
</p>

<section>
  It will then also have top 10 movies
</section>


<section>
  It will then also have top 10 books
</section>


<section>
  It will then also have top 10 albums 
</section>
