<header>
  <nav>
    <h2>
      Media Ranker
    </h2>

    <small>
      Ranking the Best of Everything
    </small>
  </nav>

  <nav>
    <a href='/'>View top media </a>
    <a href='/works'>View all media </a>
    <a href='/works/new'>Add a new work </a>
    <a href='/users'>View all users </a>
  </nav>

  <div>
    <a href='/login'> Log In </a>
  </div>
</header>

<h2> Log In </h2>


<%= form_for :sessions, url:login_session_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit 'Log In' %>
<% end %>
