@import url("foundation");
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* line 18, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
html, body, h1, h2, h3, h4, h5, h6, ul, li, p, td, a {
  font-family: "Gudea", sans-serif;
}

/* line 22, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
h1, h2, h3, h4, h5 {
  font-weight: bold;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* line 28, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
div, dl, dt, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 33, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
.page-header {
  max-width: 100%;
  background-color: #B2DFDB;
  border-bottom: 1px solid #EEE;
  margin-bottom: 10px;
  padding: 25px 20px 10px 20px;
}

/* line 41, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
.page-header h2 {
  text-align: center;
  margin: 25px auto 40px auto;
}

/* line 46, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
.page-header h2 a {
  border-right: white 2px solid;
  color: #FF5722;
  margin-right: 15px;
  padding-right: 25px;
}

/* line 53, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
.page-header h2 small {
  color: white;
}

/* line 57, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
.button {
  background-color: #26A69A;
}

/* line 61, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
.button:hover {
  transition: background-color 0.2s ease;
  background-color: #00796B;
}

/* line 66, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
h2 {
  font-weight: bold;
}

/* line 70, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
a, h3 {
  color: #26A69A;
}

/*---------------------------HOMEPAGE---------------------------*/
/* line 75, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
.media-spotlight-header {
  color: #424242;
}

/* line 79, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
.spotlight > div {
  padding: 0 2rem 2rem 2rem;
}

/* line 83, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
.spotlight a {
  border-bottom: 2px solid;
}

/* line 87, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
.spotlight a:hover {
  color: #00796B;
}

/* line 91, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
.spotlight p {
  margin-bottom: 0;
}

/* line 95, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
main {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* line 100, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
main .row {
  max-width: 75rem;
}

/* line 104, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
.root-hr {
  color: #EEE;
  margin: 0 auto 75px auto;
}

/* line 109, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
.top-ten h3 {
  border-bottom: 2px solid;
  border-bottom-color: #B2DFDB;
}

/* line 114, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
.top-ten ul {
  list-style-type: none;
  margin-left: 0;
}

/* line 119, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
body small {
  color: slategrey;
}

/* line 123, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
.top-ten a:hover {
  color: #00796B;
}

/*---------------------------Works Index---------------------------*/
/* line 130, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
h3 {
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/* line 136, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
h4 {
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/* line 142, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
.media-table h4 {
  color: #0a0a0a;
}

/* line 146, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
table {
  border-radius: 0;
  margin-bottom: 1rem;
  width: 100%;
}

/* line 152, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
thead {
  background: #f8f8f8;
  color: 0a0a0a;
}

/* line 157, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
thead, tbody, tfoot {
  border: 1px solid #f1f1f1;
  background-color: #fefefe;
}

/* line 162, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
tbody tr:nth-child(even) {
  border-bottom: 0;
  background: #f1f1f1;
}

/* line 167, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
tbody th, tbody td {
  padding: 0;
}

/*---------------------------Works Show---------------------------*/
/* line 172, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
p {
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

/*---------------------------Flash---------------------------*/
/* line 180, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
.status {
  border-radius: 5px;
  background-color: #e6e6e6;
  padding: 20px 25px;
  margin-top: 30px;
}

/* line 187, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
.status.error h3, .status.success h3 {
  font-weight: normal;
  font-size: 1em;
}

/* line 192, /Users/victoriasawchuk/Documents/Ada/Class/Week10/Homework/MediaRanker/app/assets/stylesheets/application.scss */
.status.error h3 {
  color: #C70039;
}
