<section class="media-table">
  <h4>WORK.CATEGORY</h4>
  <table>
    <thead>
      <tr>
        <th width="80">
          Votes
        </th>
        <th>
          Title
        </th>
        <th>
          Created By
        </th>
        <th width="100">
          Published
        </th>
        <th width="100">
          Upvote
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          number of votes
        </td>
        <td>
          title
        </td>
        <td>
          Created by
        </td>
        <td>
          Published
        </td>
        <td>
          Upvote
        </td>
      </tr>
    </tbody>
  </table>
</section>
