
  <h3>List of works</h3>

  <section class="spotlight">
    <h2>Media Spotlight: </h2>
    <% "# votes" %>
  </section>

  <section>
    <h3>Top Movies</h3>
    <ul>
      <li></li>
    </ul>
  </section>
  <section>
    <h3>Top Books</h3>
    <ul>
      <li></li>
    </ul>
  </section>
  <section>
    <h3>Top Albums</h3>
    <ul>
      <li></li>
    </ul>
  </section>
