<h1>Works</h1>

<ul>

  <% Work::CATEGORIES.each do |category| %>

  <h2> <%= category.capitalize %> </h2>

  <% Work.where(category: category).each do |work| %>
  <li>
    Title: <%= link_to work.title, works_path(work.id) %>
    Created by: <%=work.creator %>
    Published: <%=work.year%>
  </li>

  <% end %>
<% end %>

</ul>
