<h2>Hey this is the index!</h2>


<table>
  <tr>
    <th>Votes</th>
    <th>Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Upvote</th>
  </tr>
  <% @works.each do |work| %>
  <tr>
    <td><%= work.title %></td>
    <td><%= work.category %></td>
    <td><%= work.creator %></td>
    <td><%= work.publication_year %></td>
  </tr>
  <% end %>
</table>
