<h1>List of Works</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Created By</th>
    <th>Published</th>
  </tr>
  <% @works.each do |work| %>
  <tr>
    <td><%= link_to work.title, work_path(work.id) %></td>
    <td><%= link_to work.creator, work_path(work.id) %></td>
    <td><%= link_to work.publication_year, work_path(work.id) %></td>
  </tr>
  <% end %>
</table>
