<h1>stuff</h1>
<table>

  <th>Title</th>
  <th>Creator</th>
  <th>Publication Year</th>
  <% @works.each do |work| %>
    <% if work.category == "album" %>
    <tr>
      <td><%= work.title %></td>
      <td><%= work.creator %></td>
      <td><%= work.publication_year %></td>
    </tr>





      <% end %>
      <% end %>
</table>


</ul>
