
<%#took out the sort_by for passengers as it was comparing a could not compare nil to string%>

<section class = "row status failure">
  #::before
  <h3>Could not upvote</h3>
  <ul>
    <li>user: has already voted for this work</li>
  </ul>
  #::after
</section>

<main class = "row">
  #::before

<h3>List of Works</h3>

<section class = "media-table">
  <h4>Music</h4>
  <% @cat = "Music" %>
  <%= render partial: 'table' %>
</section>

<section class = 'media-table'>
  <h4>Movies</h4>
  <% @cat = "Movie" %>
    <%= render partial: 'table' %>
</section>


<section class = "media-table">
<h4>Books</h4>
  <% @cat = "Book" %>
    <%= render partial: 'table' %>
</section>

</main>
