<!-- # Keep things in order; Album, Books, Movies. -->
<!-- columns needed -->
<%= link_to("New", new_work_path)  %>
<header>
  <h1>List of Works</h1>
</header>
<ul>
  <% @albums.each do |album| %>
  <li>
    <h4><%= link_to(album.title, work_path(album.id), alt: 'link to', class: "title") %> <small>by <%= album.creator%></small></h4>
<!-- votes -->
  </li>
  <% end %>
</ul>
<footer>
  <h3>Top Media</h3>
  <h3>Add New</h3>
</footer>
