<header>
  <nav>
    <h2>
      Media Ranker
    </h2>

    <small>
      Ranking the Best of Everything
    </small>
  </nav>

  <nav>
    <a href='/'>View top media </a>
    <a href='/works'>View all media </a>
    <a href='/works/new'>Add a new work </a>
    <a href='/users'>View all users </a>
  </nav>

  <div>
    <a href='/login'> Log In </a>
  </div>
</header>

<section>
    <h3>
      Media Spotlight: <%= @top_work.title %> by <%= @top_work.creator%>
    </h3>
</section>

<section>
  <h3>
    Top work
  </h3>

  <ul>
    <% @works.each do |work| %>
      <li>
        <%= link_to "#{work.title}",  work_path(work)%>
        <small> by <%= work.creator%> </small>
      </li>
    <%end%>
  </ul>
</section>

<section>
  <h3>
    Top Movies
  </h3>

  <ul>

  </ul>
</section>

<section>
  <h3>
    Top Books
  </h3>

  <ul>

  </ul>
</section>
