<section>
  <h2>Media Spotlight</h2>
</section>

<h2>Top Works</h2>


<p>Top Books</p>
<p>Top Albums</p>
<p>Top Movies</p>
<ul>
  <% @works.each do |work| %>
    <li>
      <%= link_to work.title, work_path(work.id) %>
    </li>
  <% end %>
</ul>
