<h1>works#index</h1>
<h3>Top Category</h3>
<%= link_to "Add new media", new_work_path %>
<ul>
  <% @works.each do |work| %>
  <li>
    <h4><%= work.title %> <small>by <%=work.creator%></small></h4>
    <p>X NUM VOTES</p>
  </li>
  <% end %>
</ul>
