<h1>List of works</h1>
<p>Works#index</p>

<h2>Albums</h2>
<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>
