<h2>List of works</h2>

<h3>Albums</h3>
<%= render partial: "work-list", locals: {works: @albums} %>

<h3>Books</h3>
<%= render partial: "work-list", locals: {works: @books} %>

<h3>Movies</h3>
<%= render partial: "work-list", locals: {works: @movies} %>
