
<section>
    <h3>
      List of Works
    </h3>

      <% @category = "album" %>
      <%= render partial: 'list', locals: { category: "album" } %>

      <% @category = "book" %>
      <%= render partial: 'list', locals: { category: "book" } %>

      <% @category = "movie" %>
      <%= render partial: 'list', locals: { category: "movie" } %>

</section>
