<section>
  <h2>Media Spotlight</h2>
</section>

<h2>All Works</h2>

<p>Books</p>
<ul>
  <% @books.each do |work| %>
    <li>
      <%= link_to work.title, work_path(work.id) %>
    </li>
  <% end %>
</ul>

<p>Albums</p>
<ul>
  <% @albums.each do |work| %>
    <li>
      <%= link_to work.title, work_path(work.id) %>
    </li>
  <% end %>
</ul>
<p>Movies</p>
<ul>
  <% @movies.each do |work| %>
    <li>
      <%= link_to work.title, work_path(work.id) %>
    </li>
  <% end %>
</ul>
