<section id = "spotlight">
  <h1>Media Spotlight: </h1>
</section>

<section >
  <h1>Top Movies</h1>
</section>

<section >
  <h1>Top Books</h1>
</section>

<section >
  <h1>Top Albums</h1>
</section>
