<main class = "row">
  <section class = "row spotlight">
    <div>
      <h3>
        <span class="media-spotlight-header">Media Spotlight: </span>
        <%= "eventual link_to to work's show page"%> by <%= "top work's creator"%>
      </h3>
      <p>
        <%= "Work.votes"%>
      </p>
    </div>

  </section>

  <hr class="root-hr">

  <section class="top-ten columns large-4 small-12">
    <h3>Top Movies</h3>
    <ul>
      <li>
        <h4> <small> by </small></h4>
      </li>
      <p>
        num votes
      </p>
    </ul>
  </section>

  <section class="top-ten columns large-4 small-12">
    <h3>Top Books</h3>
    <ul>
      <li>
        <h4> <small> by </small></h4>
      </li>
      <p>
        num votes
      </p>
    </ul>
  </section>

  <section class="top-ten columns large-4 small-12">
    <h3>Top Albums</h3>
    <ul>
      <li>
        <h4> <small> by </small></h4>
      </li>
      <p>
        num votes
      </p>
    </ul>
  </section>

</main>
