<main>
  <h3>Add a new work</h3>

  <section>
    <% if @work.errors.any? %>
  <ul class="errors">
    <% @work.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>
    <%= render partial: "form", locals: {button_name: "Create Work"} %>

  </section>

</main>
