<h1>Add new Work</h1>


<%= render partial: "form",
    locals: { hide_placeholder_text: true, button_text: "Create Work" }%>


<%# form_for @work do |w| %>

  <%# w.label :title %>
  <%# w.text_field :title %>

  <%# w.label :category %>
  <%# w.select :category, Work::CATEGORIES %>

  <%# w.label :creator %>
  <%# w.text_field :creator %>

  <%# w.label "Publication year" %>
  <%# w.number_field :year %>


  <%# w.label "Description" %>
  <%# w.text_field :description %>

  <%# w.submit "Create Work" %>

  <%# end %>
