<main class="row">
  <section>
    <% if @work.errors.any? %>
  <ul class="error">
    <% @work.errors.each do |column, message| %>
      <li>
        <%= column.capitalize %>: <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<h3>Add a new work</h3>

    <%= render partial: "form", locals: {button_name: "Create Work", class: "new_work", id: "new_work"} %>

  </section>

</main>
