<main class="works-list">
  <h2 class="title-green">Add a new work</h2>

  <%= render partial: 'layouts/errors', locals: { model: @work } %>

  <%= render partial: "form", locals: { hide_placeholder_text: true, button_text: "Create Work" }%>
</main>
