<h1><%= @work.title %><h1>
<p>Created by: <%= @work.creator %></p>
<p>Published: <%= @work.publication_year %></p>
<p><%= @work.description %></p>

<% link_to("Back to media ranks", ) %>
<% link_to("Edit", ) %>
<% link_to("Upvote", ) %>
<% link_to("Delete", ) %>

<h1>X Votes for this movie </h1>
<p> Vote table </p>
