<h2>This will have the top media</h2>

<h2>Link to Spotlight</h2>

<p>
  top in each category with creator and number of votes
</p>


<!-- <h1>Logged in user is <%= session[:logged_in_user] %></h1>

<h1>Work being voted on is <%= @work.title %></h1> -->
