<h3>List of Users</h3>
<table>
  <tr>
    <th>Username</th>
    <th>Votes</th>
    <th>Joined</th>
  </tr>
  <% @users.each do |user| %>
    <td><%= link_to user.name, user_path(user.id) %></td>
    <td><%= "votes" %></td>
    <td><%= user.created_at %></td>
    <% end %>
  <tr>

  </tr>
</table>
