require 'date'
<main>

  <h3>List of Users</h3>

  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Votes</th>
        <th>Joined</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
          <tr>
          <td><%= link_to(user.name, user_path(user.id), alt: "link to user show page")%></td>
          <td> # </td>
          <td><%= (user.created_at).strftime('%d-%m-%Y') %></td>
        </tr>
        <% end %>
    </tbody>
  </table>

  <%= button_to("Back to Media List", root_path, method: :get, alt: "link to home page") %>
</main>
