<h2>List of All Users</h2>

<table>
  <tr>
    <th>Username</th>
    <th>Votes</th>
    <th>Joined</th>

  </tr>
  <tr>
      <%users = User.all%>
      <% users.each do |user| %>
    <th>
      <%= link_to user.name, users_path(params[:id]), class: "link"%>
    </th>
    <th>
      <%=user.vote.count%>
    </th>
    <th>
      <%= user.created_at %>
    </th>

    <%end%>



</table>
