<h2>List of users</h2>
<table>
  <tr>
    <th>Username</th>
    <th>Votes</th>
    <th>Joined</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.username, user_path(user.id) %></td>
      <td><%= user.votes.count %></td>
      <td><%= user.created_at.strftime("%b") + ' ' + user.created_at.strftime("%d") + ', ' + user.created_at.strftime("%Y") %></td>
    </tr>
  <% end %>
</table>
