<h3>
  List of Users
</h3>
<table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Votes</th>
          <th>Joined</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |t| %>
          <tr>
            <td><%= link_to(t.name, user_path(t.id)) %></td>
            <td> <%=  %></td>
            <td> <%= t.created_at.strftime("%b %d, %Y") %></td>
          </tr>

        <% end %>

      </tbody>
    </table>
