<table>
  <h3>List of Users</h3>
  <tr>
    <th>Username</th>
    <th>Votes</th>
    <th>Joined</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td>tbd</td>
      <td>tbd</td>
    </tr>
  <% end %>
</table>
