<h1>List of Users</h1>

<table>
  <th>User Name</th>
  <th>Votes</th>
  <th>Joined</th>

  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user_path(user.id) %></td>
      <td width="100"><%= user.votes.count %></td>
      <td width="200"><%= user.created_at %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Back to Media List", works_path, class: "button" %>
