<h2>List of Users</h2>
<table>
  <tr>
    <th>Username</th>
    <th>Votes</th>
    <th>Joined</th>
  </tr>
  <% @users.each do |user| %>
    <td><%= user.name %></td>
    <td><%= "votes" %></td>
    <td><%= user.created_at %></td>
    <% end %>
  <tr>

  </tr>
</table>
