<h1> This is the user index page</h1>
<ul>
  <h3>List of Users</h3>

<% @users.each do |user| %>
<li>
  <%= link_to user.name, user_path(user), class: "link"%>
  <%= user.vote.count %>
  <%= user.created_at %>
</li>
<% end %>
</ul>
