
<h3>List of Users</h3>

  <% if @users.size == 0 %>
    <p>There are no users yet!</p>
  <% else %>
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Votes</th>
        <th>Joined</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |u| %>
      <tr>
        <td><%= link_to u.name, user_path(u.id) %></td>
        <td><%= u.votes.count %></td>
        <td><%= u.created_at.strftime("%b %d, %Y") %></td>
      </tr>
      <% end %>
  <% end %>
    </tbody>
  </table>
