<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<h3>All Users</h3>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Votes</th>
      <th>Joined</th>
    </tr>
  </thead>
  <% @users.each do |user| %>
  <tbody>
    <tr>
      <td><%=link_to(user.username, user_path(user.id))%></td>
    </tr>
  </tbody>
  <% end %>
</table>






<!-- <table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Votes</th>
      <th>Joined</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
    </tr>
  </tbody>
</table> -->


<!-- <table class="table">
  <thead>
    <tr>
      <th class="column_1">Table Header</th>
      <th class="column_2">Table Header</th>
      <th class="column_3">Table Header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
  </tbody>
</table> -->
