<h2>List of Users</h2>

<table>
  <tr>
    <th>Username</th>
    <th>Votes</th>
    <th>Joined</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%# work.votes %></td>
    <td><%= user.created_at.strftime("%b %d,%Y") %></td>
  </tr>
  <% end %>
</table>
