<h1>All of our Beautiful Users</h1>


<table>

<tr>
  <th>
    UserName
  </th>
  <th>
    Votes
  </th>
  <th>
    Join Date
  </th>
</tr>


<% @users.each do |user| %>
<tr>
  <td>
    <%= link_to user.username, user%>
  </td>
  <td>
    <%= (user.list_votes(user.id)).length %>
  </td>
  <td>
    <%= user.created_at %>
  </td>
</tr>
<% end %>


</table>
