<section>
  <h3>List of Users</h3>

  <article>
    <table>
      <tr>
        <th>Username</th>
        <th>Votes</th>
        <th>Joined</th>
      </tr>

      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user_path(user.id) %></td>
          <td></td>
          </td>
          <td><%= user.joined%></td>
          <td></td>
        </tr>
      <% end %>
    </table>
  </article>
