<main class="users-index">
  <h2 class="title">Log In</h2>
    <%= form_tag do %>
      <%= label_tag "Username"%>
      <%= text_field :user, :name %>
      <%= submit_tag "Log In", class: "button" %>
    <% end %>
</main>
