<h2>Login</h2>

<%= form_tag do %>
  <%# collection_select(:user, :user_id, User.all, :id, :name) %>
  <!-- take all the Users, display their name, and send back the id. -->
  <%= label_tag "User Name" %>
  <%= text_field :user, :name %>

  <%= submit_tag "Login" %>
<% end %>

<p>
  A note about logins lol
</p>
