<h2>Login</h2>

<%= form_tag do %>
  <%= label :user, :name, "username" %>
  <%= text_field :user, :name %>
  <%= submit_tag "Login", class:"button" %>
<% end %>

#form_for is a rails generator that allows us to create a new instance from the model
