<main class="users-list">
  <h2 class="title">Log In</h2>

  <%= render partial: 'layouts/errors', locals: { model: @user } %>

  <%= render partial: "login_form", locals: { hide_placeholder_text: true }%>
</main>
