<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%=params%>

<h2>
  User Summary: <%=@user.name%>
</h2>
<p>
  Joined site <%=@user.created_at.strftime("%b %d, %Y")%>
</p>
<h3>
  Votes
</h3>
<table>
      <thead>
        <tr>
          <th>Media Title</th>
          <th>Created By</th>
          <th>Published</th>
          <th>Category</th>
          <th>Voted On</th>
        </tr>
      </thead>

      <tbody>
        <% @user_votes.each do |t| %>
          <tr>

          </tr>

        <% end %>

      </tbody>
    </table>
