

<h2>Welcome<%= @user.username %> </h2>

<p>
  Books this person voted for
  go through votes associated with each user, then find title associated with vote (through works table)
  if no votes, put not yet voted.
</p>
