<p>
  <strong> User Summary: <%= @user.username %></strong>
</p>
<p>
  Joined site <%= @user.created_at.strftime("%b %d, %Y")%>
</p>
<h4>Votes</h4>
  
<%= link_to "See all users", users_path %>
<%= link_to "Back to media ranks", root_path %>
