Show user's details

<h1>User Summary need to put link to name</h1>
<h3>Joined site link to date joined</h3>

<h2>Votes</h2>

<table>
  <tr>
    <th>Media Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Category</th>
    <th>Voted On</th>
  </tr>
</table>
