<section>
  <h1>User Summary: <%= link_to(@user.username, user_path(user.id)) %></h1>
  <p>Joined site <%= user.created_at.strftime("%b %d, %Y") %></p>
</section>
<section>
  <h2>Votes</h2>
  <table>
    <thead>
      <tr>
        <th>Media Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Category</th>
        <th>Voted On</th>
      </tr>
    </thead>
    <tbody>
      <tr><!-- For each vote a user has  -->
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr><!-- End loop  -->
    </tbody>
  </table>
</section>
