
<% @votes = Vote.all %>
<% @works = Work.all %>

<h2>Welcome <%= @user.username %> </h2>

<h4>Works Voted On</h4>

<p>
  <% votes = @votes.where(user_id: @user.id)  %>

  <% votes.each do |vote| %>
    <%  work = @works.find(vote.work_id) %>
    <h4><%= work.title %></h4>
  <% end %>

</p>
