<h1>Show Page for User</h1>

<%= @user.username %>

<p>
  Books this person voted for
  go through votes associated with each user, then find title associated with vote (through works table)
  if no votes, put not yet voted. 
</p>
