<article class="main-index">
  <h2>Media Spotlight: <a href="">Top Something</a> by someone</h2>
  <p># votes -</p>

  <hr>

  <section class="top-lists">
    <div class="movies-list">
      <h3>Top Movies</h3>
      <ul>
        <li>
          <a href="">example blahblah</a> by <span class="author">author</span>
          <br />
          <span># votes</span>
        </li>
      </ul>
    </div>
    <div class="books-list">
      <h3>Top Books</h3>
      <ul>
        <li>
          <a href="">example blahblah</a> by <span class="author">author</span>
          <br />
          <span># votes</span>
        </li>
      </ul>
    </div>
    <div class="albums-list">
      <h3>Top Albums</h3>
      <ul>
        <li>
          <a href="">example blahblah</a> by <span class="author">author</span>
          <br />
          <span># votes</span>
        </li>
      </ul>
    </div>
  </section>
</article>
