/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* This attempt at changing the font is not working and I do not know why.
 */
 @import url('https://fonts.googleapis.com/css?family=Gudea');
body, h1, h2, h3, h4, h5 {
    font-family: "Gudea", sans-serif;


  }

.page-header  {
max-width: 100%;
background-color: #B2DFDB;
border-bottom: 1px solid #EEEEEE;
margin-bottom: 10px;
padding: 25px 20px 10px 20px;
}

.spotlight {
    padding: 0 2rem 2rem 2rem;
}

.page-header h2 {
    text-align: center;
    margin: 25px auto 40px auto;
  }

.root-hr {
    max-width: 100%;
  }

.button {
  background-color: #26A69A;
  font-size: 1em;
}

.page-header h2 a {
  color: #FF5722;
  padding-right: 25px;
  margin-right: 15px;
  font-weight: bold;
  font-size: 1.25em;
  border-right: solid;
  border-color: white

}

.page-header h2 small {
  font-weight: bold;
  color: white;
}

.top-ten h3 {
  color: #26A69A;
  border-bottom: 2px solid;
  border-bottom-color: #B2DFDB;
}

.media-spotlight-header {
  color: #424242;
  font-weight: bold;
}

.status.success, .status.failure  {
max-width: 100%;
border-radius: 5px;
background-color: #e6e6e6;
padding: 20px 25px;
margin-top: 30px;
font-weight: normal;
font-size: 1em;
}

.status.success h3 {
font-weight: normal;
font-size: 1em;
color: #8a8a8a;
}

.status.failure h3 {
font-weight: normal;
font-size: 1em;
color: #C70039;
}

.top-ten ul {
    list-style-type: none;
    margin-left: 0px;
}

ul li h4 small{
  color: #424242;
}

a {
  color: #37ad91
}

h3 {
    color: #26A69A;
    font-weight: bold;
}

h4 {
  font-weight: bold;
}
