/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import url('foundation');

*, *::before, *::after {
    box-sizing: inherit;
}




@media print, screen and (min-width: 40em)
application-033…82025955.css:1
.column, .columns {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}

@media print, screen and (min-width: 40em)
application-033…82025955.css:1
h3 {
    font-size: 1.9375rem;
}



body, h1, h2, h3, h4, h5 {
  font-family: "Gudea", sans-serif;
}

h2, h3, h4, h5 {
    font-weight: bold;
}

a, h3 {
    color: #26A69A;
}

article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

/*this is messing with the Media Ranker heading.*/
h2 {
  font-size: 3vw;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}


h3 {
    font-size: 1.1875rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
  }


.small-12 {
  width: 100%;
  display: block;
}


.large-4 {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  }

li {
    font-size: inherit;
}

form {
    display: block;
    margin-top: 0em;
}

.page-header h2 {
  text-align: center;
  margin: 25px auto 40px auto;
}

.page-header h2 small {
  color: white;
}

.page-header h2 a {
  color: #FF5722;
  padding-right: 25px;
  margin-right: 15px;
  border-right: white 2px solid;
}

.button {
    background-color: #26A69A;
  }


.page-header {
    max-width: 100%;
    background-color: #B2DFDB;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 10px;
    padding: 25px 20px 10px 20px;
    }

/*top works page*/
.spotlight {
  font-size: 1.7em;
}
.media-spotlight-header {
    color: #424242;

  }

.spotlight a {
  border-bottom: 2px solid;
}


.spotlight p {
    margin-bottom: 0px;
}

section.spotlight>div {
  padding: 0 2rem 2rem 2rem;
}


.top-ten h3 {
  border-bottom: 2px solid;
  border-bottom-color: #B2DFDB;
  font-size: 2rem;
  margin-left: 2vw;
}

.top-ten h4 {
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 1.6rem;
}
.top-ten ul {
    list-style-type: none;
    margin-left: 0px;
}

.top-ten ul li {
  margin: 2vw;
}




/*all works*/

table {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}


tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
