/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

body h1, h2, h3, h4, h5 {
  font-family: 'Gudea', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

a, h3 {
  color: #26A69A;
}

.page-header {
  max-width: 100%;
  background-color: #B2DFDB;
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 10px;
  padding: 25px 20px 10px 20px;
}

.page-header h2 {
  text-align: center;
  margin: 25px auto 40px auto;
}

.page-header h2 a {
  color: #FF5722;
  padding-right: 25px;
  margin-right: 15px;
  border-right: white 2px solid;
}

.page-header h2 small {
  color: white;
}

.button {
  background-color: #26A69A;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  color: #fefefe;
}

.button:hover {
  background-color: #00796B;
}

.button a {
  color: white;
}

.status {
  border-radius: 5px;
    background-color: #e6e6e6;
    padding: 20px 25px;
    margin-top: 30px;
}

.status.success h3, .status.failure h3 {
  font-weight: normal;
  font-size: 1em;
}

.status.success {
  color: #8a8a8a;
}

.status.failure {
  color: #C70039;
}

section.spotlight>div {
  padding: 0 2rem 0 2rem;
}

.media-spotlight-header {
  color: #424242;
}

.spotlight a {
  border-bottom: 2px solid;
}

.top-ten h3 {
  border-bottom: 2px solid;
  border-bottom-color: #B2DFDB;
}

.top-ten ul {
  list-style-type: none;
  margin-left: 0px;
}

body small {
  color: slategrey;
}
