// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*******************/
/*    Main page       */
/*******************/

.row {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
}
.row .row {
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}

.section.spotlight {
  padding: 0 2rem rem 2rem;
}

h3 {
  color: #26A69A;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

body, h1, h2, h3, h4, h5 {
  font-family: "Gudea", sans-serif;
}

/* TODO: why isn't this turning it black?*/
.media-spotlight-header {
  color: #424242;
}

.spotlight a {
  border-bottom: 2px solid;
}

.spotlight p {
  margin-bottom: 0px;
  padding-bottom: 5%;
}

.root-hr {
  margin: 0px auto 75px auto;
  color: #EEEEEE;
}
.top-ten h3 {
  border-bottom: 2px solid;
  border-bottom-color: #B2DFDB;
}

.top-ten ul {
  list-style-type: none;
  margin-left: 0px;
}

li {
  font-size: inherit;
}

a, h3 {
  color: #26A69A;
}

body small {
  color: slategrey;
}

/*******************/
/*   Show page       */
/*******************/

.button.allert {
  background-color: #cc4b37;
}


/*******************/
/*   new page       */
/*******************/
