<h1>Votes#index</h1>
<p>Find me in app/views/votes/index.html.erb</p>

<%#
<!-- <% @users.each do |user| %>
<tr>
  <td>
    <%= user.name%>
  </td>
  <td>
    <%= work.publication_year %>
  </td>
  <td>
    <%= user.joindate %>
  </td>
</tr>
<% end %> -->
